/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.error-border-input{
  border: 1px solid #dc3545 !important
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }